<!DOCTYPE html>
<html lang="en">

<head>
	<title>BD-Actores de Seguridad Nacional</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>
	<div class="super_container">

		<% include complementos/menu %>
			<!-- TODO LO QUE VA EN LA PAGINA -->
			<div>
				<br><br><br><br><br>
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="images/botones/bannerpresentacion.png">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>

			<div class="arrivals">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="section_title_container text-center">
								<div
									style="font-size: 20px; color: black; text-align: center; font-family:'Open Sans',sans-serif;">
									Barrios Digitales para Actores de Seguridad Nacional y Convivencia Pacífica</div>
								<br>
								<div
									style="font-size: 14px; color: black; 	text-align: left; font-family:'Open Sans',sans-serif;">
									La Corporación de Emprendimiento e Innovación Productiva Latinoamérica CEIPLA, ha
									desarrollado el programa Barrios Digitales para Actores de Seguridad Nacional y
									Convivencia Pacífica, este programa busca intervenir y apoyar a todos los actores
									involucrados en el proyecto.<br><br>
									Se busca, mejorar de manera sustancial su nivel de vida, con programas de acceso,
									inclusión y beneficio en áreas como vivienda, nutrición, productividad, salud y
									educación.
									Este es un programa social, productivo y económico que permitirá mejorar el nivel de
									vida de todos los actores contemplados, es decir, tendrán acceso a los planes y
									programas desarrollados por CEIPLA. <br><br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<center>
				<h2>Actores Involucrados en el Plan</h2>
			</center>
			<div class="arrivals">
				<div class="container">
					<div class="row">
						<div class="col-lg-2"><a href="/guardias"><img src="images/botones/guardiaSEGPRIVADA.png"
									style="width: 100%"></a></div>
						<div class="col-lg-2"><img src="images/botones/abogados.png" style="width: 100%;"></div>
						<div class="col-lg-2"><img src="images/botones/agentes-transito.png" style="width: 100%"></div>
						<div class="col-lg-2"><img src="images/botones/bomberos.png" style="width: 100%"></div>
						<div class="col-lg-2"><img src="images/botones/FFAA.png" style="width: 100%"></div>
						<div class="col-lg-2"><img src="images/botones/fiscalia.png" style="width: 100%"></div>
					</div>
					<div class="row">
						<div class="col-lg-2"><img src="images/botones/guardaparques.png" style="width: 100%;"></div>
						<div class="col-lg-2"><img src="images/botones/judicatura.png" style="width: 100%"></div>
						<div class="col-lg-2"><img src="images/botones/naval.png" style="width: 100%"></div>
						<div class="col-lg-2"><img src="images/botones/penitenciarios.png" style="width: 100%"></div>
						<div class="col-lg-2"><img src="images/botones/police.png" style="width: 100%"></div>
						<div class="col-lg-2"><img src="images/botones/fuerzaAERA.png" style="width: 100%"></div>
					</div>
				</div>
			</div>
			<br>
			<div class="galleryb">
				<div class="gallery_imageb" style="background-image:url(img/banner-infografia.png)"></div>
			</div>
			<br>
			<br><br>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="img/bannerCIERREguardias.png">
					</div>
				</div>
			</div>
	</div>
	<br>
	<% include complementos/footer %>
</body>

</html>