<!DOCTYPE html>
<html lang="en">

<head>
	<title>BD-Actores de la Economía Popular y Solidaria</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">

		<% include complementos/menu %>
			<!-- TODO LO QUE VA EN LA PAGINA -->

			<div>
				<br><br><br><br><br><br>
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="img/actores2/banener-interior.png">
						</div>
					</div>
				</div>
			</div>

			<div class="arrivals">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="container">
								<center>
									<p><strong>PROYECTO PARA GRUPOS DE ATENCI&Oacute;N PRIORITARIA</strong></p>
								</center>
								<br>
								<p>La Corporaci&oacute;n de Emprendimiento e Innovaci&oacute;n Productiva
									Latinoam&eacute;rica, ha desarrollado el Proyecto para Grupos de Atenci&oacute;n
									Prioritaria que tiene como objetivo brindar una atenci&oacute;n prioritaria y
									especializada a los grupos que hist&oacute;ricamente y estructuralmente han sido
									discriminados.</p>
								<br>
								<p>De acuerdo a la Constituci&oacute;n de la Rep&uacute;blica del Ecuador en el
									Cap&iacute;tulo Tercero, sobre los Derechos de las personas y grupos de
									atenci&oacute;n prioritaria, en el art&iacute;culo 40, se reconoce el derecho a
									migrar de cualquier persona y no ser considerado como ilegal por su condici&oacute;n
									migratoria. Adem&aacute;s, se respetar&aacute; y garantizar&aacute; los derechos de
									los mismos.</p>
								<br>
								<p>En este contexto, CEIPLA trabaja de manera activa con los grupos de atenci&oacute;n
									prioritaria desarrollando diversos proyectos orientados a la reactivaci&oacute;n
									productiva y por lo tanto en el mejoramiento de la calidad de vida de los mismos, de
									esta manera nuestra instituci&oacute;n pone en pr&aacute;ctica los preceptos legales
									establecidos en la Constituci&oacute;n de la Rep&uacute;blica adem&aacute;s de
									apoyar a otras instituciones a que desarrollen proyectos con especial
									atenci&oacute;n a estos grupos.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<center>
				<h2>Actores Involucrados en el Plan</h2>
			</center>
			<div class="arrivals">
				<div class="container">
					<div class="row">
						<div class="col-lg-2"><a href=""><img src="img/actores2/inmigrantesICON.png"
									style="width: 100%"></a></div>
						<div class="col-lg-2"><img src="img/actores2/recicladores.png" style="width: 100%"></div>
						<div class="col-lg-2"><img src="" style="width: 100%"></div>
						<div class="col-lg-2"><img src="" style="width: 100%"></div>
						<div class="col-lg-2"><img src="" style="width: 100%"></div>
					</div>
				</div>
			</div>
			<br>
			<div class="galleryb">
				<div class="gallery_imageb"
					style="background-image:url(img/actores2/bannerBENEFICIOSatprioritaria.png)"></div>
			</div>
			<br>
	</div>
	<br>
	<% include complementos/footer %>

</body>

</html>