<!DOCTYPE html>
<html lang="en">

<head>
	<title>Convenios y Alianzas</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/convenios_responsive.css">
	<% include complementos/plugings %>
</head>

<body>
	<div class="super_container">
		<% include complementos/menu %>
			<!-- Home -->
			<br><br><br><br><br><br>
			<div class="galleryb">
				<div class="gallery_imageb" style="background-image:url(img/convenio.jpeg)"></div>
			</div>
			<br><br><br><br>
			<div class="arrivals">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="section_title_container text-center">
								<div
									style="font-size: 20px; color: black; text-transform: uppercase;	text-align:center; font-family:'Open Sans',sans-serif;">
									Alianzas y Convenios implementados de manera estratégica para
									lograr los objetivos trazados.</div>
							</div>
							<br>
							<div
								style="font-size: 14px; color: black; 	text-align:center; font-family:'Open Sans',sans-serif;">
								La Corporación de Emprendimiento e Innovación Productiva
								Latinoamérica con el fin de contribuir de distinta manera a la reactivación
								productiva de Ecuador y Latinoamérica genera convenios interinstitucionales con
								diversas entidades para establecer mecanismos que promuevan la colaboración en
								actividades y proyectos de asistencia técnica orientados al desarrollo en distintos
								sectores productivos.

							</div>
						</div>
					</div>
				</div>
				<br><br>
				<div class="arrivals">
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/logosconvenio/bannerLOGOS1.png" alt="" style="width: 100%;">
								<br><br>
								<img src="img/logosconvenio/bannerLOGOS2.png" alt="" style="width: 100%;">
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<!-- Footer -->
	<% include complementos/footer %>
</body>

</html>