<!DOCTYPE html>
<html lang="en">

<head>
	<title>CeiplaEC</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>
	<div class="super_container">
		<% include complementos/menu%>
			<!-- TODO LO QUE VA EN LA PAGINA -->
			<div class="arrivals">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="section_title_container text-center">
								<div
									style="font-size: 20px; color: black; text-align: center; font-family:'Open Sans',sans-serif;">
									Barrios Digitales para Actores de Seguridad Nacional y Convivencia Pacífica</div>
								<br>
								<div
									style="font-size: 14px; color: black; 	text-align: left; font-family:'Open Sans',sans-serif;">
									El Plan Nacional de Seguridad Ciudadana y Convivencia Pacífica, es un proyecto
									integral orientado al fortalecimiento de la calidad de vida del Guardia de Seguridad
									Privada y su núcleo familiar mediante una estrategia de reactivación productiva,
									innovación comercial e inclusión financiera.<br><br>

									El Plan Nacional de Seguridad Ciudadana está compuesto por 10 programas que
									benefician de manera directa a: <br><br>
									<br><br>
									El programa está alineado con el Plan Nacional de Seguridad Ciudadana y Convivencia
									Social Pacífica desarrollado por el Ministerio del Interior y con la Agenda de
									Desarrollo Sostenible de las Naciones Unidas 2030.

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<% include complementos/footer %>
</body>

</html>