<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">
		<% include complementos/menu %>

		<br><br><br>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/noticias/8.jpg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<h2 style="text-align: justify;">CEIPLA Y LA PREFECTURA DE TUNGURAHUA FIRMARON CONVENIO PARA
						REACTIVAR SECTORES ESTRATÉGICOS DE LA PROVINCIA</h2><br>
					<p class="descrip">Marcelo Gutiérrez, presidente de CEIPLA: “Tungurahua aporta en gran medida a la
						economía del país. Las autoridades cuentan con nuestro apoyo y también con las instrucciones
						aliadas del Gobierno nacional, cámaras de comercio, producción y la pequeña empresa”. <br><br>

						Ambato. - Este martes 28 de mayo de 2019, las autoridades de la Prefectura de Tungurahua
						realizaron una rueda de prensa en las instalaciones del gobierno provincial, con el fin de
						informar a medios locales y nacionales, los avances de la gestión y próximos pasos a seguir en
						su plan de trabajo. También se dio, oficialmente, una firma de convenio macro con la Corporación
						de Emprendimiento e Innovación Productiva Latinoamérica (CEIPLA) con miras a fortalecer sectores
						de la provincia ligados al ámbito productivo, ambiental, agricultura, social, comercial,
						barrial, entre otros.<br><br>

						El evento contó con la asistencia de los titulares de la Prefectura, Manuel Caizabanda; prefecto
						y Sayda Haig, viceprefecta. CEIPLA fue representada a través de su presidente ejecutivo, Marcelo
						Gutiérrez. Además, asistieron Jorge Raza, director de planificación del Gobierno de Tungurahua,
						representantes del Parlamento del Agua, medios de comunicación y autoridades en general.<br><br>

						Luego del informe de Caizabanda y Haig, se anunció la firma de convenio macro de cooperación que
						tiene como objetivo “incentivar y promover el desarrollo sustentable de la provincia de
						Tungurahua fomentando las actividades productivas, facilitando los procesos y las interacciones
						para lograr un crecimiento económico, social, cultural, educativo, tecnológico y productivo”
						sobre la base de la participación ciudadana, así dicta el documento.<br><br>

						Por otro lado, Gutiérrez en su intervención sostuvo que serán cuatro ejes fundamentales en los
						que se trabajará “el desarrollo estratégico para la sostenibilidad de la producción de
						territorio, desarrollo agro productivo, industrial y promoción de la oferta exportable con valor
						agregado en cada una de las zonas”. Además, resaltó que la “intervención en Tungurahua
						representa el 7.5% del desarrollo productivo en el impacto del PIB. El 22% de sectores
						productivos se dedican al cuero y calzado, carroceros y al sector agrario”.<br><br>

						Manuel Caizabanda afirmó que primero se enfocará en los cantones y parroquias, esto con el fin
						de recoger necesidades y requerimientos en temas sociales, artesanales, culturales y otros
						requerimientos.<br><br>

						Cuando finalizó el acto, los representantes del Parlamento del Agua y de comunidades de la
						provincia dialogaron con Marcelo Gutiérrez, el cual se comprometió en apoyar el proyecto de
						recuperación del sistema de riego. Para el próximo martes 4 de junio se pactó una junta de
						trabajo. <br><br>
						A.M/ G.C.
					</p>
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/not9.1.jpeg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<% include complementos/footer %>
</body>

</html>