<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>
	<div class="super_container">
		<% include complementos/menu %>
		<br><br><br>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/noticias/6.jpg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<h2 style="text-align: justify;">COOPERATIVA RIOBAMBA BUSCA CERTIFICACIONES DEL PLAN COAC</h2><br>
					<p class="descrip">Riobamba. -El pasado febrero del año en curso, la Cooperativa de Ahorro y Crédito
						Riobamba ingresó al Plan de Profesionalización y Reactivación Productiva COAC impulsado por la
						Corporación de Emprendimiento e Innovación Productiva Latinoamérica (CEIPLA) en convenio con la
						Superintendencia de Economía Popular y Solidaria (SEPS). <br><br>
						En este contexto, el 3 de junio de 2019 se planteó una junta en la ciudad de Riobamba, en la
						matriz de la Cooperativa, con el fin de asignar el equipo técnico responsable del levantamiento
						de información para el diagnóstico institucional, requisito previo para lograr las
						certificaciones. Asistieron por parte de CEIPLA, su presidente ejecutivo, Marcelo Gutiérrez y el
						titular del área de emprendimiento, Jorge Trujillo; y por parte de la entidad financiera, su
						gerente, el Lic. Pedro Morales y los representantes de las áreas de Talento Humano, TIC,
						Planificación, Negocios y Riesgos.<br><br>
						El Plan prevé que las cooperativas que se han sumado a la iniciativa consigan tres
						certificaciones: como entidades financieras con aporte social, con aporte a las tecnologías de
						la comunicación e información, y con aporte al desarrollo productivo.<br><br>
						En la junta, fueron designados líderes de equipo, según sus competencias y capacidades, quienes
						se encargarán de analizar, verificar y entregar resultados sobre la base de una metodología de
						los procesos utilizados por su institución financiera, con la finalidad de cumplir con los
						requisitos de este proceso.<br><br>
						Al certificarse, las cooperativas tendrán un mayor control en sus procedimientos, así como un
						manejo adecuado de la información, todo esto en beneficio, principalmente, de sus socios. Los
						primeros resultados se entregarán del 11 al 25 de junio y se contará con el acompañamiento en el
						desarrollo de los entregables. <br><br>

						A.M. / G.C.
					</p>
				</div>
			</div>
		</div>
		<% include complementos/footer %>
</body>

</html>