<!DOCTYPE html>
<html lang="en">
<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>
<body>

	<div class="super_container">
		<% include complementos/menu %>
		<br><br><br>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/noticias/2.jpg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<h2 style="text-align: justify;">PREFECTURA DEL AZUAY CONOCIÓ EL TRABAJO DE CEIPLA A TRAVÉS DE SU
						MODELO DE ECOSISTEMA EMPRENDEDOR</h2><br>
					<p class="descrip">El modelo de ecosistema entrega facilidades para el acceso al financiamiento, a
						la comercialización con precios justos, a la educación y capacitación especializadas en las
						distintas actividades laborales, acceso a la logística de trasporte, entre otros
						beneficios.<br><br>
						Cuenca. - El jueves 20 de junio de 2019, la Corporación de Emprendimiento e Innovación
						Productiva Latinoamérica (CEIPLA) presentó ante las autoridades de la Prefectura del Azuay su
						modelo de ecosistema emprendedor, una dinámica que de ser aplicada, fortalecería los sectores
						productivos y sociales de la provincia. El prefecto Yaku Pérez junto a su equipo, recibieron al
						presidente ejecutivo y a la gerente de operaciones de CEIPLA, Marcelo y María Paz Gutiérrez,
						quienes expusieron con detalle los planes, servicios y beneficios que integran al
						ecosistema.<br><br>
						Las autoridades de la Prefectura resolvieron todas sus dudas y mostraron interés en participar,
						para ello, se recopilará toda la información detallada de la región sobre actividades
						productivas. Así lo explicó Marcelo Gutiérrez, “es necesario conocer el territorio para actuar
						sobre la base de las necesidades de la ciudadanía. Si yo sé cuánto tengo, planifico
						mejor”.<br><br>
						Desde la Prefectura se resaltó que se tiene mapeado al sector económico de la región, sin
						embargo, al ser un trabajo extenso no se completa aún con detalles. CEIPLA ofreció su
						contingente estructural y de experiencia para construir esta base de datos. El resultado sería
						obtener una canasta de productos de la zona de Azuay, con la que se conocerá tanto fortalezas y
						debilidades. El presidente de la Corporación afirmó que “si ya tenemos una canasta de productos
						estable y de calidad es necesario comercializar a nivel nacional, pero también abrir mercado
						internacional”.<br><br>
						La Prefectura solicitó que se realice un borrador de un potencial convenio para formalizar lazos
						con CEIPLA. En los próximos días se procederá con la firma del documento.<br><br>
						A.M/ G.C.
					</p>
				</div>
			</div>
		</div>
	</div>
	<% include complementos/footer %>
</body>

</html>