<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">

		<% include complementos/menu %>
		<br><br><br>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="container">
						<div class="row">
							<div class="col">
								<br><br>
								<img src="img/noticias/011.jpg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<h2 style="text-align: justify;">CEIPLA Y LA PREFECTURA DE TUNGURAHUA FORTALECERÁN EL SECTOR
						PRODUCTIVO Y SOCIAL DE LA PROVINCIA</h2><br>
					<p class="descrip">Cientos de organizaciones vinculadas al trabajo con transportistas, barrios,
						niñez, adolescencia, adultos mayores, jóvenes, cultura y género se beneficiarán con el trabajo
						de ambas instituciones. <br><br>

						Tungurahua. - El martes 14 de mayo de 2019 se posesionó el nuevo prefecto de Tungurahua, Manuel
						Caizabanda, y la viceprefecta Saida Haig. La celebración se realizó en el auditorio de la
						Prefectura, donde varios dirigentes e instituciones asistieron, entre ellas la Corporación de
						Emprendimiento e Innovación Productiva Latinoamérica (CEIPLA). El acto duró cuatro horas
						aproximadamente y fueron los movimientos indígenas y los agroproductores de la provincia quienes
						realizaron la entrega del bastón de mando a las autoridades.
					</p>
					<br>
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/not11.1.jpg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
						<p class="descrip">El presidente de CEIPLA, Marcelo Gutiérrez, dialogó y expuso su disposición
							de trabajar en conjunto con los titulares electos para fortalecer el desarrollo de la
							localidad, por lo que se pactó una reunión de trabajo para el día siguiente. <br><br>

							En la mañana del 15 de mayo se reunieron en el despacho de la Prefectura, Manuel Caizabanda,
							prefecto de Tungurahua, Narcisa Masaquisa esposa del prefecto, Sayda Haig, viceprefecta,
							Geovany Litardo y Sobeyda Ibarra, por el lado de CEIPLA asistió su presidente, Marcelo
							Gutiérrez. La finalidad fue juntar recursos y servicios de cada institución para mejorar la
							calidad de vida en temas productivos, financieros, sociales y familiares. CEIPLA presentó su
							modelo de ecosistema de cooperación, el cual está enfocado en la gente y el desarrollo
							sostenible de la familia ecuatoriana, por su parte, Caizabanda sostuvo que su trabajo estará
							encaminado en atender a todos los sectores sin discriminación.</p>
						<br>
						<div class="container">
							<div class="row">
								<div class="col">
									<img src="img/not11.2.jpg" alt=""
										style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
								</div>
							</div>
							<p class="descrip">Cientos de organizaciones vinculadas al trabajo con transportistas,
								barrios, niñez, adolescencia, adultos mayores, jóvenes, cultura y género se beneficiarán
								con el trabajo de ambas instituciones. <br><br>

								Tungurahua. - El martes 14 de mayo de 2019 se posesionó el nuevo prefecto de Tungurahua,
								Manuel Caizabanda, y la viceprefecta Saida Haig. La celebración se realizó en el
								auditorio de la Prefectura, donde varios dirigentes e instituciones asistieron, entre
								ellas la Corporación de Emprendimiento e Innovación Productiva Latinoamérica (CEIPLA).
								El acto duró cuatro horas aproximadamente y fueron los movimientos indígenas y los
								agroproductores de la provincia quienes realizaron la entrega del bastón de mando a las
								autoridades.
							</p>

						</div>
					</div>
				</div>
			</div>

			<% include complementos/footer %>
</body>

</html>