<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">
		<% include complementos/menu %>
			<br><br><br>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="container">
							<div class="row">
								<div class="col">
									<img src="img/noticias/not20.jpg" alt=""
										style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
								</div>
							</div>
						</div>
						<br>
						<h2 style="text-align: justify;">CULMINA LA SEMANA DEL EMPRENDIMIENTO –ECUADOR 2020- BARRIOS
							DIGITALES 4.0</h2><br>
						<p align="right" SIZE="12px"> Quito, 24 de noviembre de 2020 </p><br><br>

						<b>Boletín de Prensa</b> <br><br>

						<b>Culmina la Semana del Emprendimiento –Ecuador 2020- Barrios Digitales 4.0</b><br><br>
						<p class="descrip">

							La Corporación de Emprendimiento e Innovación Productiva Latinoamérica CEIPLA junto al
							Ministerio de Producción, Comercio Exterior, Inversiones y Pesca, desarrolló desde el 16 al
							21 de noviembre la Semana del Emprendimiento –Ecuador2020- Barrios Digitales 4.0. El evento
							se llevó a cabo de manera virtual, debido a la emergencia sanitaria, de manera sincrónica en
							8 países de Latinoamérica. <br><br>

							“Es indispensable incentivar nuevos eventos que estén orientados hacia el impulso del sector
							emprendedor en Latinoamérica. Nuestra región necesita de manera imperiosa programas que
							estén orientados hacia la formación y profesionalización de los emprendedores y Mipymes…”
							comentó el Presidente Ejecutivo de CEIPLA, Marcelo Gutiérrez en rueda de prensa. <br><br>

							Se contó con la presencia de 30 expositores de Latinoamérica y Europa especializados en
							diversos temas, todos estos relacionados al impulso comercial del sector emprendedor.
							Quienes sostuvieron que el desarrollo productivo es un factor importante y decisivo para los
							emprendedores y Mipymes en la actualidad. <br><br>

							Durante 6 días se lograron grandes hitos dentro del evento, pues toda esta temática está
							orientada hacia el desarrollo sectorial emprendedor. Alrededor de 70.000 visualizaciones de
							manera simultánea en 8 países dio como resultado el conectar con miles de emprendedores que
							asistieron de manera virtual al evento y se nutrieron de todo el conocimiento impartido por
							nuestros expositores.<br><br>

							Una de las principales conclusiones fue que el sector necesita más espacios de debate y de
							intercambio de información sobre temas relacionados con la innovación comercial y
							digitalización de sus emprendimientos, pues ante la revolución industrial 4.0 y la demanda
							comercial que esta suscita, es necesario que todos los emprendedores y Mipymes usen a la
							tecnología como una herramienta para potencializar y reactivar sus negocios.

						</p>
					</div>
				</div>
			</div>
			<% include complementos/footer %>
</body>

</html>