<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>

</head>

<body>

	<div class="super_container">
		<% include complementos/menu%>
			<br><br>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="container">
							<div class="row">
								<div class="col">
									<img src="img/noticias/1.jpg" alt=""
										style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
								</div>
							</div>
						</div>
						<br>
						<h2 style="text-align: justify; font-family: 'Open Sans', sans-serif;">CEIPLA Y LA FACULTAD DE
							CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL</h2><br>
						<p class="descrip">Marcelo Gutiérrez, presidente ejecutivo de CEIPLA: “Convenios como el firmado
							entre nuestras instituciones buscan impulsar el trabajo académico-profesional en beneficio
							de la
							inclusión y reactivación productiva nacional en el contexto de la Economía Popular y
							Solidaria”.
							<br><br>
							Quito. - El jueves 11 de julio de 2019, las autoridades representantes de la Facultad de
							Ciencias Económicas y CEIPLA, realizaron una mesa de trabajo en las instalaciones del
							consejo
							directivo de la Facultad en la Universidad Central del Ecuador (UCE), esto con el fin de
							generar
							un trabajo en conjunto y que aporte a la Economía Popular y Solidaria (EPS). <br><br>
							También en dicha reunión se dio, oficialmente, una firma de convenio marco, entre la
							Facultad de
							Ciencias Económicas y la Corporación de Emprendimiento e Innovación Productiva Latinoamérica
							(CEIPLA). Esto con miras a establecer lazos de colaboración en la ejecución de Programas y
							Proyectos de Investigación, Prácticas Profesionales y Vinculación con la Comunidad de los
							estudiantes con el soporte de los profesores de la Facultad.<br><br>
							El evento contó con la asistencia de la Decana de la Facultad de Economía, Nancy Medina, y
							Patricia Caizapanta, Coordinadora del Departamento de Vinculación con la Sociedad. CEIPLA
							fue
							representada a través de su presidente ejecutivo, Marcelo Gutiérrez. <br><br>
							Luego de la firma del convenio, Medina anunció que existe la apertura por parte de la casa
							académica para contribuir a los objetivos trazados entre las instituciones, pues la misión
							del
							establecimiento es formar profesionales competentes que impulsen el desarrollo de la
							sociedad.
							Por otro lado, Gutiérrez en su intervención manifestó la importancia de contar con la
							presencia
							y apoyo de la academia en proyectos que buscan el desarrollo estratégico de la Economía
							Popular
							y Solidaria en Ecuador.<br><br>
							En este contexto, UPLAE, Plataforma Latinoamericana de Estudio, la Facultad de Ciencias
							Económicas de la UCE y CEIPLA, trabajarán de manera articulada tomando en cuenta el
							ecosistema
							de emprendimiento que se está dando dentro de la Economía Popular y Solidaria (EPS) esto con
							el
							objetivo de fortalecer los lazos y vínculos en territorio desde un punto de vista
							académico.<br><br>
							Se busca trazar líneas de investigación sectorial y productiva sobre la base de una
							estructura
							que investiga el desarrollo productivo, la sustitución en la estrategia de importaciones y
							la
							oferta exportable.<br><br>
							D.M.
						</p>
					</div>
				</div>
			</div>
			<!-- Footer -->

			<% include complementos/footer %>
</body>

</html>