<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">

		<% include complementos/menu %>
		
		<br><br><br>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/noticias/012.jpg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<h2 style="text-align: justify;">CEIPLA Y LA ASOCIACIÓN DE EX JUDICIALES DEL ECUADOR REACTIVARÁN
						PROYECTOS PRODUCTIVOS PARA ASOCIADOS</h2><br>
					<p class="descrip">“Estas iniciativas mejorarán la cultura jurídica en el país”. Carlos Hurtado,
						vicepresidente de la Asociación de ex Judiciales del Ecuador <br><br>

						Quito, 17 de abril de 2019.- Los principales representantes de la Asociación de ex Judiciales
						del Ecuador se reunieron el pasado viernes 12 de abril en la Corporación de Emprendimiento e
						Innovación Productiva Latinoamérica (CEIPLA), con la finalidad de entablar acuerdos para
						promover la cooperación entre las dos organizaciones. Fueron recibidos por el presidente
						ejecutivo de la Corporación, Marcelo Gutiérrez.<br><br>

						En la junta se trató la necesidad de levantar información acerca de los asociados con el fin de
						reconocer especificidades en este público objetivo, para que, a futuro sean beneficiarios de los
						planes y servicios que ofrece CEIPLA. Respecto a esto, Carlos Hurtado, vicepresidente de la
						Asociación, afirmó que son “alrededor de 2000 personas ex judiciales y lo que se pretende es
						generar información para incrementar la base y así tener mayor posibilidad de prestación de
						servicios”. También, se analizó la posibilidad de que los socios impartan asesorías jurídicas
						para empresas y emprendimientos, esto a través de UPLAE, “Tu Plataforma Latinoamericana de
						Estudios”, servicio de CEIPLA que se enfoca en capacitaciones y aprendizaje a través de
						Internet.<br><br>

						Gerardo Chango, secretario del gremio, sostuvo que el objetivo es “levantar todo lo que nosotros
						podríamos prestar para generar un sistema de atención y asesoría dictada por nuestros
						compañeros". Por su parte, Hurtado, acotó que existe experticia “de nuestros profesionales para
						prestar un servicio de calidad y eficiencia”. Recalcó que “nosotros conocemos diversos temas
						acerca de derecho y estamos en plena capacidad para generar conocimientos e incluir capacitación
						para los usuarios”.<br><br>


						A.M./G.C.
					</p>
				</div>
			</div>
		</div>
		<% include complementos/footer %>
</body>

</html>