<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">

		<% include complementos/menu %>

		<br><br><br>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/noticias/015.jpg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<h2 style="text-align: justify;">CEIPLA PARTICIPA EN ECUATEXTIL, LA FERIA DE TEXTILES Y MODA MÁS
						IMPORTANTE DE ECUADOR</h2><br>
					<p class="descrip">El stand de CEIPLA se localiza a la entrada del Centro de Convenciones, frente a
						Intimoda. <br><br>

						Guayaquil, 03 de abril de 2019.- La segunda edición de la Feria de insumos para la confección
						“ECUATEXTIL” empezó hoy, 3 de abril, en el Centro de Convenciones de Guayaquil. La Corporación
						de Emprendimiento e Innovación Productiva Latinoamérica (CEIPLA) participa en este evento con el
						objetivo de ayudar y fortalecer al sector textil del país a través de la oferta de sus
						servicios: Market Click ERP, Tu Prestamito y Tu Plataforma Latinoamericana de Estudio UPLAE.
						<br><br>

						Esta Feria reúne a varios confeccionistas, especialistas, empresarios, productores,
						comerciantes, instituciones y otros actores claves dentro del sector textil, además del público
						en general. Doris Campbell, directora de operaciones de la Feria afirmó que son 118 empresas
						nacionales e internacionales que compartirán sus experiencias de negocios e innovaciones en
						maquinaria e insumos. Ecuatextil contará con una apretada agenda. Consúltela en:
						www.ecuatextil.com.ec/agenda.html <br><br>

						CEIPLA con la misión de apoyar e incentivar al sector textil y productivo del país, participa en
						calidad de expositor, su stand se localiza a la entrada del Centro, frente a Intimoda. Los
						representantes de la Corporación son el presidente, Marcelo Gutiérrez, los representantes
						zonales Hernán Coellar (zona 6 y 8) y Juan Gutiérrez Guevara (zona 5 y 7). <br><br>

						Los servicios que brinda CEIPLA son los siguientes:<br><br>

						TU PRESTAMITO: Facilita al usuario la obtención de créditos a través de organizaciones
						financieras, cumple el rol de mediador entre la persona y la entidad financiera. Los créditos se
						enfocan precisamente en temas productivos.<br><br>

						UPLAE (Tu Plataforma Latinoamericana de Estudio): Brinda talleres, seminarios, cursos e incluso
						carreras universitarias en línea. Diferentes instituciones y entidades educativas nacionales e
						internacionales participan en los contenidos. Contiene una oferta académica a la disposición de
						cualquier persona que necesite aprender, reforzar y especializarse en distintas áreas. <br><br>

						MARKETCLICK ERP: Herramienta online que permite administrar empresas, negocios, servicios y
						distintas actividades laborales en cualquier parte del mundo. Facilita el registro de la
						contabilidad, facturación, inventario, ingresos, egresos, etc. La información es actualizada por
						lo que siempre se tendrá un reporte en tiempo real. Sin necesidad de intermediarios.<br><br>

						Las puertas del Centro de Convenciones están abiertas desde las 10:00 y cierran a las 22:00. El
						mismo horario se mantendrá para el 4 y 5 de abril. La entrada es con invitación o registrándose
						gratis en línea: www.ecuatextil.com.ec<br><br>

						A.M / G.C.
					</p>

					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/not15.1.jpeg"
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/not15.2.jpeg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<% include complementos/footer %>
</body>

</html>