<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">
		<% include complementos/menu %>
		<br><br><br>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/noticias/7.jpg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<h2 style="text-align: justify;">CEIPLA PARTICIPÓ EN EL “ACUERDO POR LA COMPETITIVIDAD, EMPLEO E
						INNOVACIÓN” LIDERADO POR EL MINISTERIO DE PRODUCCIÓN</h2><br>
					<p class="descrip">Viceministro de Producción, Comercio Exterior, Inversiones y Pesca, Yuri Parreño,
						mencionó: “No vamos a descansar hasta lograr la dinamización laboral”. <br><br>
						Guayas. - El 30 de mayo de 2019, en la Universidad Espíritu Santo (Guayaquil), se presentó el
						“Acuerdo por la Competitividad, Empleo e Innovación” liderado por el Ministerio de Producción,
						Comercio Exterior, Inversiones y Pesca. Es el eje número 3 del Acuerdo Nacional que promueve el
						Gobierno ecuatoriano.<br><br>
						El vicepresidente de Ecuador, Otto Sonnenholzner, dirigió este acto al que fueron invitados
						autoridades de los distintos ministerios, secretarios, empresarios, productores, representantes
						de los trabajadores, instituciones, sociedad civil y, por supuesto, la Corporación de
						Emprendimiento e Innovación Productiva Latinoamérica (CEIPLA).<br><br>
						Este Acuerdo busca la dinamización laboral y el fortalecimiento del emprendimiento del país. El
						Vicepresidente en su discurso afirmó que “la competitividad es la capacidad de pararnos frente a
						frente con cualquier país del mundo”. Su discurso fue conciso y destacó el emprendimiento, sobre
						todo el familiar “El momento para invertir en el Ecuador es ahora. Las empresas familiares son
						el eje del desarrollo de cualquier sociedad”.
						<br><br>
						El segundo mandatario sostuvo la premisa que el “único proyecto político se llama Ecuador” e
						invitó a través de su discurso a la unión del país, la cooperación y el trabajo conjunto de
						todos los sectores que conjugan el territorio nacional. Además, dijo “por eso nos sentamos aquí
						gente de diferentes lugares, pensamiento e ideología política y visiones, porque el objetivo de
						todos es el mismo: la prosperidad en equidad y justicia”.
						<br><br>
						El presidente ejecutivo de CEIPLA, Marcelo Gutiérrez, resaltó que el “Acuerdo está a favor del
						desarrollo productivo y encadenamiento entre los emprendedores, Mipymes, artesanos e
						industriales. Se está fortaleciendo desde la estructura empresarial, son las empresas pequeñas,
						medianas y grandes quienes representan esa unión y la solidifican, finalmente, está dado un
						proceso de legitimidad para el desarrollo productivo nacional” objetivo que la Corporación ya
						trabaja desde sus planes y servicios.<br><br>
						El viceministro de Producción, Comercio Exterior, Inversiones y Pesca, Yuri Parreño, destacó que
						este acuerdo buscará decisiones que sustenten las condiciones necesarias “para que el sector
						productivo sea el principal dinamizador de la economía nacional a través del emprendimiento y la
						generación de empleo en un clima de fortalecimiento del ecosistema de innovación”.
					</p>
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/not7.1.jpeg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include complementos/footer %>
</body>

</html>