<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">
		<% include complementos/menu %>
			<br><br><br>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="container">
							<div class="row">
								<div class="col">
									<img src="img/noticias/5.jpg" alt=""
										style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
								</div>
							</div>
						</div>
						<br>
						<h2 style="text-align: justify;">CEIPLA PARTICIPÓ EN LA PLANIFICACIÓN ESTRATÉGICA DE TUNGURAHUA
							A
							TRAVÉS DE SU CONSEJO PROVINCIAL</h2><br>
						<p class="descrip">Ambato. - Este martes 4 de junio de 2019, el Consejo Provincial de Tungurahua
							liderado por los titulares de la Prefectura, Manuel Caizabanda y Sayda Haig, prefecto y
							viceprefecta respectivamente, sesionó. El objetivo de la junta fue organizar la
							planificación
							estratégica de la provincia y a la par, ratificar el trabajo desde los espacios ciudadanos
							en
							los parlamentos locales de Agua, Gente y Trabajo. El presidente ejecutivo de la Corporación
							de
							Emprendimiento e Innovación Productiva Latinoamérica (CEIPLA), Marcelo Gutiérrez, fue
							invitado a
							esta reunión con el fin de aportar estrategias que promuevan el ámbito productivo y social a
							nivel provincial.<br><br>
							Un Consejo Provincial es el órgano de legislación y fiscalización de un gobierno autónomo
							descentralizado provincial, se integra por los titulares de la prefectura, alcaldías o
							concejalías y por representantes elegidos de entre quienes presidan los gobiernos
							parroquiales
							rurales. Además, es competencia de un GAD provincial, la planificación junto a otras
							instituciones del sector público y actores de la sociedad con miras al desarrollo
							provincial. En
							este contexto, CEIPLA presentó propuestas y realizó un diagnóstico de Tungurahua.<br><br>
							Gutiérrez mencionó que se tiene información sobre las actividades productivas que genera la
							provincia, sobre todo en los sectores que se dedican al cuero, calzado, carroceros y
							agricultura. Resaltó que Tungurahua representa el 7.5% del desarrollo productivo en el
							impacto
							del PIB y que, por esta razón, es vital el apoyo que se brinde desde CEIPLA a la provincia.
							El
							fin es potenciar su matriz productiva y social.<br><br>
							Por su parte, Caizabanda afirmó que se planifica en función de las necesidades de la
							localidad y
							que existe “la predisposición y apertura para continuar con el accionar de los parlamentos”.
							Mencionó, que se fomentará el deporte en espacios adecuados, la cultura urbana y rural a
							través
							de su promoción y difusión y que se velará por la seguridad ciudadana, todo esto con el fin
							de
							convertir a Tungurahua, a mediano plazo, en una provincia turística, segura, productiva y
							ecológica. <br><br>
							La sesión del Consejo terminó luego del medio día y se convocó a otra, para el martes 11 de
							junio de 2019. <br><br>
							G.C.
						</p>
					</div>
				</div>
			</div>

			<% include complementos/footer %>
</body>

</html>