<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">
		<% include complementos/menu %>
		<br><br><br>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="container">
						<div class="row">
							<div class="col">
								<br><br>
								<img src="img/noticias/013.jpg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<h2 style="text-align: justify;">CEIPLA A TRAVÉS DE LA CÁMARA DE DISEÑOS DE ECUADOR Y EL CENTRO DEL
						MUCHACHO TRABAJADOR REACTIVARÁ FÁBRICA TEXTIL</h2><br>
					<p class="descrip">La fábrica de diseño de modas beneficiará a 155 familias con 380 niños y niñas
						que integran el Centro del Muchacho Trabajador y alrededor de 9 mil diseñadores titulados del
						país.

						Quito, 9 de abril de 2019. La Corporación de Emprendimiento e Innovación Productiva
						Latinoamérica (CEIPLA) apoyará a través de una alianza estratégica un proyecto para reactivar
						una fábrica textil en la que participarán 155 familias que integran el Centro del Muchacho
						Trabajador (CMT) y cientos de diseñadores de modas ecuatorianos, representados por la Cámara de
						Diseño de Ecuador.

						Para tratar este acuerdo, asistieron el presidente de la Cámara de Diseño de Ecuador, William
						Urreña; la rectora del Instituto Tecnológico Superior Dismod, Giovanna Buchely y el director
						administrativo financiero del Centro del Muchacho Trabajador, Johnny Espinosa. Estas autoridades
						fueron recibidas por el presidente de la Corporación, Marcelo Gutiérrez.

						En la junta se dialogó sobre dos temáticas. La primera, tiene el objetivo de reactivar una
						fábrica de confección que pertenece al CMT. Buchely sostuvo que el enfoque no solo se centra en
						el establecimiento textil, sino que “el interés de la Cámara es desarrollar, a través del diseño
						de modas, tendencias nuevas y propias”. Destacó que en el país existen alrededor de 9 mil
						diseñadores ecuatorianos titulados, sin embargo, han sido invisibilizados.
					</p>
					<br><br>

					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/not13.1.jpeg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<p class="descrip">Espinosa resaltó que esta “alianza estratégica fortalecerá nuestra misión, la
						cual consiste en brindar atención a las familias vulnerables de Quito, serán ellas las que
						integren el cuerpo laboral de la fábrica. Con estas acciones queremos romper el círculo de la
						pobreza de las personas”. También, afirmó que las familias que se integren recibirán formación y
						capacitación para el fomento del emprendimiento individual y colectivo. </p>

					<br><br>
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="img/not13.2.jpeg" alt=""
									style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
							</div>
						</div>
					</div>
					<br>
					<p class="descrip">El segundo tema que se trató fue la comercialización. CEIPLA no solo trabajará
						con el centro de modas, sino que brindará las herramientas en asesoría y guía para la
						exportación de los productos generados. <br><br>
						A.M. / G.C
					</p>
				</div>
			</div>
		</div>

		<% include complementos/footer %>
</body>

</html>