<!DOCTYPE html>
<html lang="en">

<head>
	<title>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">
		<% include complementos/menu %>

			<br><br><br>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="container">
							<div class="row">
								<div class="col">
									<img src="img/noticias/4.jpg" alt=""
										style="max-width: 100%; width: 900px; height: 600px; display: block; margin-left: auto; margin-right: auto;">
								</div>
							</div>
						</div>
						<br>
						<h2 style="text-align: justify;">COOPERATIVA PASTAZA TIENE LISTO EQUIPO TÉCNICO PARA LAS
							CERTIFICACIONES DEL PLAN COAC</h2><br>
						<p class="descrip">Pastaza. - El pasado 21 de febrero de 2019 se realizó la primera reunión
							entre la
							Corporación de Emprendimiento e Innovación Productiva Latinoamérica (CEIPLA) y la
							Cooperativa de
							Ahorro y Crédito de la Pequeña Empresa de Pastaza. Se trazaron las primeras acciones en el
							marco
							del “Plan de Profesionalización y Reactivación Productiva COAC” impulsado por CEIPLA en
							convenio
							con la Superintendencia de Economía Popular y Solidaria (SEPS). Luego de 3 meses
							aproximadamente, todo indica que la entidad financiera está lista para empezar con un
							proceso
							que certificará la eficacia de sus procedimientos.<br><br>
							La Cooperativa Pastaza, el lunes 10 de junio, definió al equipo técnico responsable del
							levantamiento de información para el diagnóstico institucional, requisito previo para lograr
							las
							certificaciones. Esta acción se llevó a cabo a través de una mesa de trabajo en la que
							participaron el presidente ejecutivo de CEIPLA, Marcelo Gutiérrez y el titular del área de
							emprendimiento, Jorge Trujillo; y por parte de la entidad financiera, el gerente, Edgar
							Acuña;
							la jefa de negocios, Pietra Dávila y los encargados de cada departamento.<br><br>
							Para el diagnóstico se consideraron las competencias y capacidades profesionales de cada
							equipo,
							los cuales tienen la responsabilidad de analizar, verificar y entregar insumos sobre la base
							de
							una metodología de procesos. Los resultados que se obtengan en torno a esta actividad
							permitirán
							conocer falencias y optimizar fortalezas en la gestión institucional. El Plan se enfoca en
							profesionalizar las estructuras, servicios y productos de esta entidad financiera popular y
							solidaria.<br><br>
							Se prevé que las cooperativas que se han sumado a la iniciativa consigan tres
							certificaciones:
							como entidades financieras con aporte social, con aporte a las tecnologías de la
							comunicación e
							información, y con aporte al desarrollo productivo. <br><br>
							A.M. / G.C.
						</p>
					</div>
				</div>
			</div>

			<% include complementos/footer %>
</body>

</html>