<!DOCTYPE html>
<html lang="en">

<head>
	<title>Nuestos Programas</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>

	<div class="super_container">
		<% include complementos/plugings %>
	


		<!-- Home -->
		
			<br><br><br><br><br><br>

			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="img/programas.jpeg" alt="First slide">
					</div>
			</div>
		</div>
		<br>
		<div class="arrivals">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container text-center">
							<div style="font-size: 20px; color: black; 	text-align:center; font-family:'Open Sans',sans-serif;">LIDERES POR LA REACTIVACION PRODUCTIVA DEL ECUADOR</div> <br>
							<div style="font-size: 14px; color: black; 	text-align:center; font-family:'Open Sans',sans-serif;"> Nuestros programas están orientados hacia el desarrollo e
								impulso productivo sectorial a nivel latinoamericano. Para la consecución de nuestros
								programas, hemos puesto atención en las vocaciones productivas en Ecuador y
								Latinoamérica, pues consideramos que todas estas áreas deben trabajar de manera
								holística e inclusiva.
								<br><br>Nuestros programas están alineados a los ODS de la agenda 2030 llevada a cabo
								por la ONU.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<br><br>


		<div class="checkout">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/programas/plan1.png" alt="" class="bart"><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
							Ver Mas
						</button>
						<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<img src="img/programas/plan1.png" alt="" class="bart">

									</div>
									<div class="modal-body">
										<h5 class="modal-title">Plan de fortalecimiento, acompañamiento y
											profesionalización
											del sistema financiero</h5> <br>
										Plan desarrollado sobre un proceso de cambio económico sobre la base de
										plataformas tecnológicas que tiene como objetivo central la inclusión financiera
										y la reactivación productiva trabajando en conjunto con el programa Mk Fintech.
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<img src="img/programas/plan2.png" alt="" class="bart"><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3" >
							Ver Mas
						</button>
						<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<img src="img/programas/plan2.png" alt="" class="bart">
									</div>
									<div class="modal-body">
										<h5 class="modal-title">Plan de reactivación productiva y soberania alimentaria
											nutricion ecuador, revolución industrial 4.0</h5> <br>
										Programa de Desarrollo, Innovación y Reactivación Productiva en todo el Ecuador,
										teniendo como resultado el trabajo directo con:
										<li>4 GADs provinciales</li>
										<li>2351 organizaciones agroproductivas</li>
										<li>46 053 familias (indirecto)</li>


									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="checkout">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/programas/plan3.png" alt="" class="bart"><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal5">
							Ver Mas
						</button>
						<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<img src="img/programas/plan3.png" alt="" class="bart">

									</div>
									<div class="modal-body">
										<h5 class="modal-title">Plan de reactivación productiva sectorial</h5> <br>
										Trabajo con distintos sectores productivos como:
										<li>Agroproductor</li>
										<li>Textil</li>
										<li>Industrial</li>
										<li>Madera</li>
										<li>Cuero y Calzado</li>
										<li>Metalmecánica</li>


									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<img src="img/programas/plan5.png" alt="" class="bart"><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal6">
							Ver Mas
						</button>
						<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<img src="img/programas/plan5.png" alt="" class="bart">
									</div>
									<div class="modal-body">
										<h5 class="modal-title">Plan de fortalecimiento y accesibilidad a la salud </h5>
										<br>
										Programa pionero en el desarrollo en Ecuador y Latinoamérica de una red de
										hospitales y clínicas compuestas por un cuerpo médico altamente calificado.
										Mediante nuestros convenios aseguramos un acceso a diversos programas de salud
										sostenibles y con amplia cobertura en provincias y barrios.
										<br><b>Objetivos:</b>
										<li>Consolidar la red de médicos altamente calificados</li>
										<li>Planes de salud preventiva</li>
										<li>Acceso a telemedicina</li>
										<li>Generación de red de farmacias con medicamentos genéricos provenientes de la
											India</li>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="checkout">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/programas/plan7.png" alt="" class="bart"><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal9">
							Ver Mas
						</button>
						<div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<img src="img/programas/plan7.png" alt="" class="bart">
									</div>
									<div class="modal-body">
										<h5 class="modal-title">Plan de desarrollo de ciudades inteligentes</h5> <br>
										Desarrollo de programas basados en las plataformas tecnológicas que permitan
										mediante la información la toma de decisiones a nivel local, nacional y regional
										(Latinoamérica) en diversos sectores como:
										<li>Financiero</li> 
										<li>Agro productivo</li> 
										<li>Industrial</li>
										<li>Pequeña Industria</li>
										<li>Artesanal</li>
										<li>Pesquero</li>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<img src="img/programas/plan4.png" alt="" class="bart"><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal10">
							Ver Mas
						</button>
						<div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<img src="img/programas/plan4.png" alt="" class="bart">
									</div>
									<div class="modal-body">
										<h5 class="modal-title">Plan de reducción de impacto ambiental</h5> <br>
										-	Fortalecimiento de proyectos orientados, en el ámbito corporativo público y privado a la consolidación de nuevas prácticas ambientales de tratamiento a los residuos que se generan. 
										<br>
											-	Implementar procesos de comercialización justos y directos del material reciclable con las empresas recicladoras (2852 empresas) en Ecuador.
										<br>
											-	Desarrollo del programa 3Rs: 
										<li>Rehusa</li>	
										<li>Reduce</li>	
										<li>recicla</li>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="checkout">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/programas/plan67.png" alt="" class="bart"><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal8">
							Ver Mas
						</button>
						<div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<img src="img/programas/plan67.png" alt="" class="bart">
									</div>
									<div class="modal-body">
										<h5 class="modal-title">Plan de gestión de agua y saneamiento</h5> <br>
										Desarrollo de proyectos en la zona centro de Ecuador orientado hacia el
										tratamiento técnico del agua mediante distintas técnicas, para lograr reutilizar
										y dar un nivel de pureza logrando las condiciones adecuadas de consumo humano.
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<img src="img/programas/plan9.png" alt="" class="bart"><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
							Ver Mas
						</button>
						<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<img src="img/programas/plan9.png" alt="" class="bart">
									</div>
									<div class="modal-body">
										<h5 class="modal-title">Plan de fortalecimiento de suelos y páramos</h5> <br>
										Trabajo multisectorial en la zona de páramos del Ecuador, orientado hacia el
										asesoramiento técnico para fortalecer la participación de la comunidad en
										prácticas de conservación y cuidado de los páramos, así como el desarrollo de la
										creación de fondos y fidecomisos de fondos de agua.
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="checkout">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/programas/planeducacion.png" alt="" class="bart"><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4" 
						style="float:none;">Ver Mas
						</button>
						<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<img src="img/programas/planeducacion.png" alt="" class="bart">
									</div>
									<div class="modal-body">
										<h5 class="modal-title">Plan Nacional de educación</h5> <br>
										-	El Plan Nacional de Educación se basa en una tendencia hacia la innovación y cambio del ambiente educativo; la educación se mira como un elemento relacional con los adelantos industriales, el desarrollo económico y tecnológico, esto para poder ofrecer a los estudiantes conocimiento vanguardista, herramientas y capacidades suficientes para que logren ser competitivos.	
									<br><br>
										-	Combinación de métodos de aprendizaje con la innovación digital, en la cual se puede obtener lo mejor de ambos rubros, creando experiencias de aprendizaje que mantengan el ritmo de las habilidades digitales que demanda el mercado.
										
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<img src="img/programas/plan6 copy.png" alt="" class="bart"><br>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal7">
							Ver Mas
						</button>
						<div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<img src="img/programas/plan6 copy.png" alt="" class="bart">
									</div>
									<div class="modal-body">
										<h5 class="modal-title">Plan de desarrollo y acceso a la vivienda</h5> <br>
										Desarrollo de proyectos habitacionales que se adapten las necesidades de la
										ciudadanía con un enfoque humanista.
										<br>
										Desarrollo de servicios de construcción asegurando la sostenibilidad del sector
										inmobiliario.

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<% include complementos/plugings %>
</body>

</html>