<!DOCTYPE html>
<html lang="en">

<head>
	<title>Planificación Estratégica</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>
	<div class="super_container">
		<% include complementos/menu %>
			<br> <br> <br> <br> <br>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<img class="d-block w-100" src="img/queeceipla.jpeg">
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container text-center">
							<div class="section_subtitleb">
								Actualmente CEIPLA ha desarrollado 10 planes con sus respectivos programas y proyectos
								con el objetivo de impulsar al sector productivo en Ecuador y Latinoamérica. Los planes
								desarrollados de CEIPLA están alineados a los Objetivos de Desarrollo Sostenible de las
								Naciones Unidas. <br> Nuestra propuesta se basa en el deseo de construir un Ecuador más
								justo y sostenible.
							</div>

						</div>
					</div>
				</div>
			</div>
			<br>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">

					<img class="d-block w-100" src="img/ODS2.png">
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/plan/tarjetas2A.png" alt="" class="bart">
					</div>
					<div class="col-lg-6">
						<div class="section_subtitleb"> <br><br><br> Creemos que la única forma de aportar
							productivamente es con
							una constante capacitación, es por esto que CEIPLA ha creado un programa de educación
							integral que abarca a un variado rango de edad, es decir que se pueden capacitar con nuestro
							modelo desde Niños de pre escolar hasta Jóvenes Adultos que deseen mejorar sus aptitudes
							académicas. <br>
							Todo nuestro personal docente se capacita constantemente para responder de una manera
							adecuada ante las necesidades de nuestros alumnos.
							<br><br>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/plan/tarjetas3.png" alt="" class="bart">
					</div>
					<div class="col-lg-6">
						<div class="section_title_container text-center">
							<div class="section_subtitleb"><br><br><br><br> Hemos desarrollado programas orientados
								hacia el sector emprendedor, pues consideramos que los mipymes son el motor económico en
								Latinoamérica.
								Contamos con alianzas estratégicas con representantes de diversos sectores, los cuales
								están inmersos en el sector productivo y que pueden ayudar a profesionalizar a miles de
								mipymes en nuestra región.
								<br><br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">

					<div class="col-lg-6">
						<img src="img/plan/tarjetas4.png" alt="" class="bart">
					</div>
					<div class="col-lg-6">
						<div class="section_title_container text-center">
							<div class="section_subtitleb"> <br><br><br><br>La innovación es un cambio constante que se
								debe realizar e	implementar cuando de reactivación productiva hablamos, para lograr esto CEIPLA ha
								logrado	desarrollar, con el apoyo de la empresa privada, 10 plataformas tecnológicas que se
								adaptan	a la nueva realidad y actualmente trabajan con Gobierno Central, Gobiernos Locales,
								empresa	privada y academia.
								<br><br>
							</div>

						</div>
					</div>

				</div>
			</div>
			<br> <br>
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/plan/tarjeta1.png" alt="" class="bart">
					</div>
					<div class="col-lg-6">
						<div class="section_title_container text-center">
							<div class="section_subtitleb"><br><br><br><br><br>Trabajamos de la mano con instituciones
								públicas y privadas, multilaterales, empresas nacionales e internacionales,	organizaciones civiles y la ciudadanía.
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container text-center">
							<div class="section_subtitleb">
								<b>Los planes desarrollados por CEIPLA están alineados al aporte del cumplimiento de las
									metas de los ODS planteados por las Naciones Unidas hasta el año 2030
								</b>
							</div>
							<br>
							<img src="img/ruleta.png" alt="" style="width: 100%; ">
							<br><br><br>
							<img src="img/observatorio.jpeg" alt="" style="width: 100%;">
							<br><br>
							<div style="font-size: 14px; color: black; 	text-align:left; font-family:'Open Sans',sans-serif;"">
								Ceipla impulsa el desarrollo educativo en Ecuador mediante planes, programas y proyectos a hombres y mujeres, con una apuesta educativa técnica-profesional de calidad, promoviendo de esta manera el desarrollo sostenible, alineándonos a los Objetivos de Desarrollo Sostenible de las Naciones Unidas con agenda 2030.
							</div>
							<br><br>
							<img src=" img/finedu.jpg" alt="" style="width: 100%;">
							</div>
						</div>
					</div>
				</div>
				<!-- Footer -->
				<% include complementos/footer %>
</body>

</html>