<!DOCTYPE html>
<html lang="en">

<head>
	<title>Quienes Somos</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>
	<div class="super_container">
		<% include complementos/menu%>
			<!-- Home -->
			<br><br><br><br><br>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<img class="d-block w-100" src="img/queeceipla.jpeg">
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container text-center">
							<div
								style="font-size: 20px; color: black; text-align: center; font-family:'Open Sans',sans-serif;">
								¿QUÉ ES CEIPLA?</div>
							<br>
							<div
								style="font-size: 14px; color: black; 	text-align: left; font-family:'Open Sans',sans-serif;">
								La Corporación de Emprendimiento e Innovación Productiva Latinoamérica (CEIPLA), es una institución sin fines de lucro constituida jurídicamente
								bajo el derecho privado que promueve planes, programas y proyectos de inclusión y
								reactivación del sector productivo de Ecuador y Latinoamérica.
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container text-center">
							<div
								style="font-size: 20px; color: black; text-align: center; font-family:'Open Sans',sans-serif;">
								MISIÓN</div>
							<div
								style="font-size: 14px; color: black; 	text-align: left; font-family:'Open Sans',sans-serif;">
								Promover el desarrollo sustentable y la inclusión financiera
								en el
								sector productivo de Ecuador y Latinoamérica, con miras a emprender e innovar.
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container text-center">
							<div
								style="font-size: 20px; color: black; text-align: center; font-family:'Open Sans',sans-serif;">
								VISIÓN</div>
							<div
								style="font-size: 14px; color: black; 	text-align: left; font-family:'Open Sans',sans-serif;">
								Interconectar a millones de emprendedores a cadenas
								productivas en
								toda Latinoamérica para fomentar los principios de una economía popular y solidaria en
								toda
								la región.
							</div>

						</div>
					</div>
				</div>
			</div>
			<br>
			<p class="neg">¡Conectamos emprendedores! ¡Conectamos negocios!</p>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">

					<img class="d-block w-100" src="img/roldb.png">
				</div>
			</div>
			<!-- Footer -->
			<% include complementos/footer %>

</body>

</html>