<!DOCTYPE html>
<html lang="en">

<head>
	<title>Resumen Noticias</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>
	<div class="super_container">
		<% include complementos/menu %>
			<br><br><br><br><br><br>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/not20.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CULMINA LA SEMANA DEL EMPRENDIMIENTO –ECUADOR 2020- BARRIOS DIGITALES 4.0</h4>
								<p>La Corporación de Emprendimiento e Innovación Productiva Latinoamérica CEIPLA junto
									al Ministerio de Producción, Comercio Exterior, Inversiones y Pesca,
									desarrolló desde el 16 al 21 de noviembre..... </p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;"><a
										href="/noticia16">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/1.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA Y LA FACULTAD DE CIENCIAS ECONÓMICAS DE LA UCE FIRMARON CONVENIO DE
									COOPERACIÓN
									INTERINSTITUCIONAL</h4>
								<p>Marcelo Gutiérrez, presidente ejecutivo de CEIPLA: “Convenios como el firmado entre
									nuestras instituciones buscan impulsar el trabajo...</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia1">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/2.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>PREFECTURA DEL AZUAY CONOCIÓ EL TRABAJO DE CEIPLA A TRAVÉS DE SU MODELO DE
									ECOSISTEMA
									EMPRENDEDOR</h4>
								<br>
								<p>El modelo de ecosistema entrega facilidades para el acceso al financiamiento, a la
									comercialización con precios justos, a la educación y capacitación....</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia2">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/3.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>COOPERATIVA RIOBAMBA AVANZA EN SU DIAGNÓSTICO INSTITUCIONAL, CON MIRAS A
									CERTIFICARSE
									DENTRO DEL PLAN COAC</h4>
								<p>Chimborazo. - El martes 11 de junio, la Cooperativa de Ahorro y Crédito Riobamba y la
									Corporación de Emprendimiento....</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia3">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/4.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>COOPERATIVA PASTAZA TIENE LISTO EQUIPO TÉCNICO PARA LAS CERTIFICACIONES DEL PLAN
									COAC
								</h4>
								<p>Pastaza. - El pasado 21 de febrero de 2019 se realizó la primera reunión entre la
									Corporación de Emprendimiento e Innovación...</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia4">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/5.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA PARTICIPÓ EN LA PLANIFICACIÓN ESTRATÉGICA DE TUNGURAHUA A TRAVÉS DE SU
									CONSEJO
									PROVINCIAL</h4>
								<p>Ambato. - Este martes 4 de junio de 2019, el Consejo Provincial de Tungurahua
									liderado
									por los titulares de la Prefectura....</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia5">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/6.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>COOPERATIVA RIOBAMBA BUSCA CERTIFICACIONES DEL PLAN COAC</h4>
								<p>Riobamba. -El pasado febrero del año en curso, la Cooperativa de Ahorro y Crédito
									Riobamba ingresó al Plan de Profesionalización y Reactivación Productiva COAC....
								</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia6">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/7.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA PARTICIPÓ EN EL “ACUERDO POR LA COMPETITIVIDAD, EMPLEO E INNOVACIÓN” LIDERADO
									POR
									EL MINISTERIO DE PRODUCCIÓN</h4>
								<p>Viceministro de Producción, Comercio Exterior, Inversiones y Pesca, Yuri Parreño,
									mencionó....</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia7">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/8.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA Y LA PREFECTURA DE TUNGURAHUA FIRMARON CONVENIO PARA REACTIVAR SECTORES
									ESTRATÉGICOS DE LA PROVINCIA</h4>
								<p>Marcelo Gutiérrez, presidente de CEIPLA: “Tungurahua aporta en gran medida a la
									economía
									del país.....</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia8">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/9.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA Y LA ASOCIACIÓN ESCUELA DE LA FACULTAD DE ADMINISTRACIÓN DE LA PUCE FIRMAN
									CONVENIO QUE BENEFICIARÁ A 1200 ESTUDIANTES Y SUS FAMILIAS</h4>
								<p>Quito, 23 de mayo de 2019.....</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia9">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/010.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA PARTICIPÓ EN EL XXII CONCURSO DE EMPRENDIMIENTO DESARROLLADO POR LA
									UNIVERSIDAD
									CATÓLICA DEL ECUADOR</h4>
								<p>Varios emprendimientos se nutrieron de las recomendaciones, guías y herramientas
									que...
								</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia10">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/011.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA Y LA PREFECTURA DE TUNGURAHUA FORTALECERÁN EL SECTOR PRODUCTIVO Y SOCIAL DE
									LA
									PROVINCIA</h4>
								<p>Cientos de organizaciones vinculadas al trabajo con transportistas, barrios, niñez,
									adolescencia, adultos mayores, jóvenes, cultura y género....</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia11">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/012.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA Y LA ASOCIACIÓN DE EX JUDICIALES DEL ECUADOR REACTIVARÁN PROYECTOS
									PRODUCTIVOS
									PARA ASOCIADOS</h4>
								<p>Estas iniciativas mejorarán la cultura jurídica en el país”. Carlos Hurtado,
									vicepresidente....</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;">
									<a href="/noticia12">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/not13.jpeg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA A TRAVÉS DE LA CÁMARA DE DISEÑOS DE ECUADOR Y EL CENTRO DEL MUCHACHO
									TRABAJADOR
									REACTIVARÁ FÁBRICA TEXTIL</h4>
								<p>La fábrica de diseño de modas beneficiará a 155 familias con 380 niños y niñas que
									integran el Centro del Muchacho Trabajador y alrededor de 9 ...</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;"><a
										href="/noticia13">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/014.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA PARTICIPA EN ECUATEXTIL, LA FERIA DE TEXTILES Y MODA MÁS IMPORTANTE DE
									ECUADOR
								</h4>
								<br>
								<p>El stand de CEIPLA se localiza a la entrada del Centro de Convenciones, frente a
									Intimoda
									Guayaquil, 03 de abril de 2019.- La segunda edición de la Feria de....</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;"><a
										href="/noticia14">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="w3-card-12 w3-margin" style="width:100%">
							<img src="img/noticias/015.jpg" alt="Norway" style="width:100%">
							<div class="w3-container w3-center">
								<br>
								<h4>CEIPLA Y ASOTEXGAJEAN MATERIALIZAN EL PROYECTO POPULAR DEL JEAN</h4>
								<p>Según el INEC aproximadamente 158 mil personas trabajan directamente en el sector
									textil,
									Quito, 03 de abril de 2019.- La construcción de un espacio para la comercialización
									del
									jean y pantalones impulsado por..</p>
								<button class="button button2"
									style="font-family: 'Open Sans',  sans-serif;  margin: 0 auto;  display: block;"><a
										href="/noticia15">VER MÁS</a></button>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-4"></div>
					<div class="col-lg-4"></div>
				</div>
			</div>
			<!-- Footer -->
			<% include complementos/footer %>
</body>

</html>