<!DOCTYPE html>
<html lang="en">

<head>
	<title>Como me sumo?</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>
	<div class="super_container">
		<% include complementos/menu %>
			<!-- Home -->
			<br> <br> <br> <br> <br> <br>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<img src="img/avatares/empresarioAVATAR.png" alt=""
							style="width: 100%; height: 550px; display: block; margin-left: auto; margin-right: auto;">
						<br>
					</div>
					<div class="col-lg-4">
						<img src="img/avatares/apoyarAVATAR.png" alt=""
							style="width: 100%; height: 550px; display: block; margin-left: auto; margin-right: auto;">
						<br>
					</div>
					<div class="col-lg-4">
						<img src="img/avatares/emprendedorAVATAR.png" alt=""
							style="width: 100%; height: 550px; display: block; margin-left: auto; margin-right: auto;">
						<br>
					</div>
				</div>
			</div>
			<br><br>
			<div class="container">
				<div class="row">
					<div class="col">
						<img src="img/avatares/beneficiosCENEFA.png" alt=""
							style="width:100%; display: block; margin-left: auto; margin-right: auto;">
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<img src="img/avatares/avatarCIUDADANOS.png" alt=""
							style="width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;">

					</div>
					<div class="col-lg-4">
						<img src="img/avatares/avatarMULTILATERALES.png" alt=""
							style="width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;">
					</div>
					<div class="col-lg-4">
						<img src="img/avatares/empresarios.png" alt=""
							style="width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;">

					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<img src="img/avatares/avatarGOBcentral.png" alt=""
							style="width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;">

					</div>
					<div class="col-lg-4">
						<img src="img/avatares/avatarGADS.png" alt=""
							style="width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;">
					</div>
					<div class="col-lg-4">
						<img src="img/avatares/avatarORGciviles.png" alt=""
							style="width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;">

					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
						<iframe
							src="https://docs.google.com/forms/d/e/1FAIpQLSdPUzYkNNK6vuM6S6H0_2f_F6B1k3LYONBkolPyqvNYKaUD3A/viewform?embedded=true"
							width="100%" height="933" frameborder="0" marginheight="0"
							marginwidth="0">Cargando…</iframe>
					</div>
					<div class="col-lg-2"></div>
				</div>
				<!-- Footer -->
				<% include complementos/footer %>
			</div>
</body>

</html>