<!DOCTYPE html>
<html lang="en">

<head>
	<title>BD-Actores de la Economía Popular y Solidaria</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% include complementos/plugings %>
</head>

<body>
	<div class="super_container">
		<% include complementos/menu %>
			<!-- TODO LO QUE VA EN LA PAGINA -->
			<div>
				<br><br><br><br>
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="img/actores/bannerMCKC-eps.png">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="arrivals">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="section_title_container text-center">
								<div
									style="font-size: 20px; color: black; text-align: center; font-family:'Open Sans',sans-serif;">
									BARRIOS DIGITALES ACTORES DE LA ECONOMÍA POPULAR Y SOLIDARIA <br><br>
									<div
										style="font-size: 14px; color: black; 	text-align: left; font-family:'Open Sans',sans-serif;">
										La Corporación de Emprendimiento E Innovación Productiva Latinoamérica CEIPLA,
										ha
										desarrollado el programa Barrios Digitales Actores De La Economía Popular Y
										Solidaria, este programa busca apoyar a todos los actores involucrados en el
										proyecto.
										<br><br>
										El trabajo coordinado con los actores que componen a la Economía Popular y
										Solidaria
										permitirá crear nuevas formas de reactivación económica en el país, estará
										basado en
										el emprendimiento, la asociatividad de todos los sectores, permitiendo el
										desarrollo
										social y económico del país.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br><br>
				<center>
					<h2>Actores Involucrados en el Plan</h2>
				</center>
				<div class="arrivals">
					<div class="container">
						<div class="row">
							<div class="col-lg-2"><a href="/tenderos"><img src="img/actores/tendero.png"
										style="width: 100%"></a></div>
							<div class="col-lg-2"><img src="img/actores/busero.png" style="width: 100%;"></div>
							<div class="col-lg-2"><img src="img/actores/carniceros.png" style="width: 100%"></div>
							<div class="col-lg-2"><img src="img/actores/carpintero.png" style="width: 100%"></div>
							<div class="col-lg-2"><img src="img/actores/famacias.png" style="width: 100%"></div>
							<div class="col-lg-2"><img src="img/actores/fruterias.png" style="width: 100%"></div>

						</div>
						<div class="row">
							<div class="col-lg-2"><img src="img/actores/huecas.png" style="width: 100%;"></div>
							<div class="col-lg-2"><img src="img/actores/mecanicas.png" style="width: 100%"></div>
							<div class="col-lg-2"><img src="img/actores/panaderos.png" style="width: 100%"></div>
							<div class="col-lg-2"><img src="img/actores/peluquerias.png" style="width: 100%"></div>
							<div class="col-lg-2"><img src="img/actores/restaurantes.png" style="width: 100%"></div>
							<div class="col-lg-2"><img src="img/actores/taxistas.png" style="width: 100%"></div>


						</div>
					</div>
				</div>
				<br>
				<div class="galleryb">
					<div class="gallery_imageb" style="background-image:url(img/actores/infografiaBENEFICIOSeps.png)">
					</div>
				</div>
				<br>
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="img/actores/banner-cierre-EPS.png">
						</div>
					</div>
				</div>
			</div>
			<% include complementos/footer %>
</body>
</html>