<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <h2 class="fotti2"><img src="img/footer/iconPHONE.png" alt="" class="imgfot"> TELÉFONOS</h2>
                            <p class="textfot">
                                +593 2 351 7227 <br>
                                +593 2 452 3241 <br>
                                +593 99 626 4403 <br>
                                +593 99 266 4116
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <h2 class="fotti2"><img src="img/footer/iconMAIL.png" alt="" class="imgfot"> EMAIL</h2>
                            <p class="textfot">
                                presidencia@ceipla.org <br>
                                operaciones@ceipla.org <br>
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <h2 class="fotti2"><img src="img/footer/iconADRESS.png" alt="" class="imgfot"> DIRECCIÓN
                            </h2>
                            <p class="textfot">
                                Catalina Aldaz N34-168 y Portugal <br>
                                Edificio La Recoleta Piso 9 <br>
                                Oficina 95 Quito-Ecuador.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer_social">
                    <ul>
                        <li><a href="https://www.facebook.com/CeiplaEc" target="blank"><i class="fa fa-facebook-square"
                                    aria-hidden="true" style="width:60px; height: 60px;"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/ceiplaec/?viewAsMember=true" target="blank"><i
                                    class="fa fa-linkedin" aria-hidden="true" style="width:60px; height: 60px;"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/ceiplaec/" target="blank"><i class="fa fa-instagram"
                                    aria-hidden="true" style="width:60px; height: 60px;"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCXbDLTRwMoUAHcWUkrlNslQ" target="blank"><i
                                    class="fa fa-youtube" aria-hidden="true" style="width:60px; height: 60px;"></i></a>
                        </li>
                        <li><a href="https://twitter.com/CeiplaEc" target="blank"><i class="fa fa-twitter"
                                    aria-hidden="true" style="width:60px; height: 60px;"></i></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Queda prohibida la distribución de
                    esta página | esta pagina es propiedad de CEIPLA</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="js/contact_custom.js"></script>

<script>
    $(document).ready(function () {
        $("#detalleWp").css({ "display": "none" });
        $("#btnWp").css({ "display": "block" });
        $("#btnWpClose").css({ "display": "none" });
        $("#btnWp").click(function () {
            $("#detalleWp").css({ "display": "block" });
            $("#btnWp").css({ "display": "none" });
            $("#btnWpClose").css({ "display": "block" });
        });
        $("#btnWpClose").click(function () {
            $("#detalleWp").css({ "display": "none" });
            $("#btnWp").css({ "display": "block" });
            $("#btnWpClose").css({ "display": "none" });
        });
    });
</script>
<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<script type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/5f8461bbee59cc002a68da5f/5f8461e63d18c7002ab8f890.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();
</script>
<div id="detalleWp" class="flotante-detalle">
    <div class="wp-head">
        <img src="img/wp/wp.png" alt="" width="23"> &nbsp; Inicia una conversación
    </div>
    <div class="wp-body">
        <div style="padding-bottom: 5px;">
            <small>Hola bienvenido a CEIPLA! <br> Gracias por escribir, un representante se comunicará con usted <br>lo
                más pronto posible</small>
        </div>
        <a href="https://web.whatsapp.com/send?phone=+593996264403&amp;text=Hola, necesito información sobre los servicios que ofrece."
            target="_blank">
            <div class="wp-card">
                <div class="row">
                    <div class="col-md-2">
                        <img src="img/wp/wp-card-l.png" width="35">
                    </div>
                    <div class="col-md-8">
                        CONTACTAR
                    </div>
                    <div class="col-md-2">
                        <img src="img/wp/wp-card.png" width="20">
                    </div>
                </div>
            </div>
        </a>
        <br>
    </div>
</div>
<div id="btnWp" class='flotante'>
    <img src='img/wp/whatsapp.webp' width="60" />
</div>
<div id="btnWpClose" class='flotante'>
    <img src='img/wp/wp-close.png' width="60" />
</div>
</div>