<!-- Header -->
<header class="header">
	<div class="header_inner d-flex flex-row align-items-center justify-content-start">
		<div class="logo"><a href="/"><img src="img/ceipla_logo.png" alt="" style="width: 80px; height: 80px;"></a>
		</div>
		<nav>
			<ul>
				<li><a href="/"><span class="icon-house"></span>inicio</a></li>
				<li class="submenu">
					<a href="/"><span class="icon-rocket"></span>nosotros<span
							class="caret icon-arrow-down6"></span></a>
					<ul class="children">
						<li><a href="/quienessomos">quienes somos<span class="icon-dot"></span></a></li>
						<li><a href="/planificacion">planificación estratégica<span class="icon-dot"></span></a></li>
						<li><a href="/nuestrosprogramas">nuestros programas<span class="icon-dot"></span></a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="/eventosbd"><span class="icon-rocket"></span>eventos<span
							class="caret icon-arrow-down6"></span></a>
					<ul class="children">
						<li><a href="/resnot">noticias<span class="icon-dot"></span></a></li>
					</ul>
				</li>
				<li><a href="/convenios"><span class="icon-earth"></span>convenios y alianzas</a></li>
				<li class="submenu">
					<a href="/"><span class="icon-rocket"></span>Barrios Digitales<span
							class="caret icon-arrow-down6"></span></a>
					<ul class="children">
						<li><a href="/BDActoresSeguridadNacional">BD-Actores de Seguridad Nacional<span
									class="icon-dot"></span></a></li>
						<li><a href="/tenderos">BD-Actores de la Economía Popular y Solidaria<span
									class="icon-dot"></span></a></li>
						<li><a href="/bdgruposprioritaria">BD-Actores de Atención Prioritaria<span
									class="icon-dot"></span></a></li>
						<li><a href="/barrios">¿Qué son los Barrios Digitales 4.0?<span class="icon-dot"></span></a>
						</li>
						<li><a href="/sumo">¿Cómo me sumo?<span class="icon-dot"></span></a></li>
					</ul>
				</li>
				<li><a href="/contacto"><span class="icon-mail"></span>contacto</a></li>
			</ul>
		</nav>
		<div class="header_content ml-auto">
			<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</header>
<!-- Menu -->
<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
	<div class="menu_close_container">
		<div class="menu_close">
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="logo menu_mm"><a href="/"><img src="img/ceipla_logo.png" alt="" style="width: 80px; height: 80px;"></a>
	</div>

	<nav class="menu_nav">
		<ul class="menu_mm">
			<li class="menu_mm"><a href="/">inicio</a></li>
			<li class="menu_mm"><a href="/quienessomos">quienes somos</a></li>
			<li class="menu_mm"><a href="/planificacion">planificación estratégica</a></li>
			<li class="menu_mm"><a href="/nuestrosprogramas">nuestros programas</a></li>
			<li class="menu_mm"><a href="/resnot">noticias</a></li>
			<li class="menu_mm"><a href="/eventosbd">eventos</a> </li>
			<li class="menu_mm"><a href="/convenios">convenios y alianzas</a></li>
			<li class="menu_mm"><a href="/tenderos">BD-Actores de la Economía Popular y Solidaria</a></li>
			<li class="menu_mm"><a href="/BDActoresSeguridadNacional">BD-Actores de Seguridad Nacional</a></li>
			<li class="menu_mm"><a href="/bdgruposprioritaria">BD-Actores de Atención Prioritaria</a></li>
			<li class="menu_mm"><a href="/barrios">¿Qué son los Barrios Digitales 4.0?</a></li>
			<li class="menu_mm"><a href="/sumo">¿Cómo me sumo?</a></li>
			<li class="menu_mm"><a href="/contacto">contacto</a></li>
		</ul>
	</nav>
</div>
<div>